<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResultSet">
		<id property="b_no" column="B_NO" />
		<result property="b_title" column="B_TITLE"/>
		<result property="b_writer" column="B_WRITER"/>
		<result property="b_content" column="B_CON"/>
		<result property="b_org_filename" column="B_ORIGINAL_FILENAME"/>
		<result property="b_re_filename" column="B_RENAME_FILENAME"/>
		<result property="b_createdate" column="B_CREATEDATE"/>
		<result property="b_modifydate" column="B_MODIFYDATE"/>
		<result property="b_status" column="B_STATUS"/>
		<result property="b_count" column="B_COUNT"/>
	</resultMap>
	
	<resultMap type="BoardComment" id="commentResultSet">
		<id property="bc_no" column="BC_NO"/>
		<result property="bc_b_no" column="BC_B_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="bc_createdate" column="BC_CREATEDATE"/>
		<result property="bc_modifydate" column="BC_MODIFYDATE"/>
		<result property="bc_content" column="BC_CON"/>
		<result property="bc_status" column="BC_STATUS"/>
	</resultMap>
	
	<resultMap type="Notice" id="noticeResultSet">
		<id property="n_no" column="N_NO" />
		<result property="n_title" column="N_TITLE" />
		<result property="n_writer" column="N_WRITER" />
		<result property="n_createdate" column="N_CREATEDATE" />
		<result property="n_modifydate" column="N_MODIFYDATE" />
		<result property="n_content" column="N_CON" />
		<result property="n_org_filename" column="N_ORIGINAL_FILENAME" />
		<result property="n_re_filename" column="N_RENAME_FILENAME" />
		<result property="n_status" column="N_STATUS" />
		<result property="n_count" column="N_COUNT" />
	</resultMap>
	
	<!-- 혜림 추가  -->
	<resultMap type="Board" id="mypageboardSet">
		<id property="b_no" column="B_NO" />
		<result property="b_title" column="B_TITLE"/>
		<result property="b_writer" column="B_WRITER"/>
		<result property="b_modifydate" column="B_MODIFYDATE"/>
		
		<association property="member" javaType="Member">
			<result property="mId" column="M_ID" />
		</association>
		
	</resultMap>
	
	<!-- freeBoard 부분 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_STATUS='Y'
		ORDER BY B_NO DESC
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BNO.NEXTVAL,#{b_title},#{b_writer},#{b_content},#{b_org_filename},#{b_re_filename},
				SYSDATE,SYSDATE,DEFAULT,DEFAULT)
	</insert>
	
	<update id="updateCount" parameterType="_int">
		UPDATE BOARD
		SET B_COUNT = B_COUNT+1
		WHERE B_NO=#{b_no}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_NO=#{b_no}
		AND B_STATUS='Y'
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET B_TITLE=#{b_title},B_CON=#{b_content},B_ORIGINAL_FILENAME=#{b_org_filename},
			B_RENAME_FILENAME=#{b_re_filename},B_MODIFYDATE=SYSDATE
		WHERE B_NO=#{b_no}
	</update>
	
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET B_STATUS='N'
		WHERE B_NO=#{b_no}
	</update>
	
	<select id="selectCommentList" resultMap="commentResultSet" parameterType="_int">
		SELECT *
		FROM BOARD_COMMENTS
		WHERE BC_B_NO=#{bc_b_no}
		AND BC_STATUS='Y'
		ORDER BY BC_NO DESC
	</select>
	
	<insert id="insertComment" parameterType="BoardComment">
		INSERT INTO BOARD_COMMENTS VALUES
		(SEQ_BCNO.NEXTVAL,#{bc_b_no},#{mId},SYSDATE,SYSDATE,#{bc_content},DEFAULT)
	</insert>
	
	<update id="deleteComment" parameterType="_int">
		UPDATE BOARD_COMMENTS
		SET BC_STATUS='N'
		WHERE BC_NO=#{bc_no}
	</update>
	<!-- freeBoard 끝 -->
	
	<!-- notice 부분 -->
	<select id="getNoListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE N_STATUS='Y'
	</select>
	
	<select id="selectNoList" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_STATUS='Y'
		ORDER BY N_NO DESC
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES(SEQ_NNO.NEXTVAL,#{n_title},#{n_writer},SYSDATE,SYSDATE,#{n_content},#{n_org_filename},#{n_re_filename},DEFAULT,#{n_count})
	</insert>
	
	<update id="updateNoCount" parameterType="_int">
		UPDATE NOTICE
		SET N_COUNT = N_COUNT+1
		WHERE N_NO=#{n_no}
	</update>
	
	<select id="selectNotice" resultMap="noticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_NO=#{n_no}
		AND N_STATUS='Y'
	</select>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET N_TITLE=#{n_title},N_CON=#{n_content},N_ORIGINAL_FILENAME=#{n_org_filename},
			N_RENAME_FILENAME=#{n_re_filename},N_MODIFYDATE=SYSDATE
		WHERE N_NO=#{n_no}
	</update>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE NOTICE
		SET N_STATUS='N'
		WHERE N_NO=#{n_no}
	</update>
	
	<!-- notice 끝 -->

 	<select id="selectfbList" resultMap="mypageboardSet">
		SELECT B.B_NO, B.B_TITLE, B.B_WRITER, B.B_MODIFYDATE
		FROM BOARD B JOIN MEMBER M
		ON B.B_WRITER = M.M_ID
		WHERE B.B_WRITER=#{mId}
	</select> 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- Kwon Qna -->
	<resultMap type="Qna" id="QnaResultSet">
		<id property="qNo" column="Q_NO" />
		<result property="qCategory" column="Q_CATEGORY"/>
		<result property="qTitle" column="Q_TITLE"/>
		<result property="qCon" column="Q_CON"/>
		<result property="qOriginalFileName" column="Q_ORIGINAL_FILENAME"/>
		<result property="qRenameFileName" column="Q_RENAME_FILENAME"/>
		<result property="qWriter" column="Q_WRITER"/>
		<result property="qWriterNo" column="Q_WRITER_NO"/>
		<result property="qState" column="Q_STATE"/>
		<result property="qDate" column="Q_DATE"/>
		<result property="qType" column="Q_TYPE"/>
		<result property="qStatus" column="Q_STATUS"/>
	</resultMap>
	
	<resultMap type="QnaReply" id="QnaReplyResultSet">
		<id property="qcNo" column="QC_NO"/>
		<result property="qcqNo" column="QC_Q_NO"/>
		<result property="qcWriter" column="QC_WRITER"/>
		<result property="qcWriterNo" column="QC_WRITER_NO"/>
		<result property="qcDate" column="QC_DATE"/>
		<result property="qcCon" column="QC_CON"/>
		<result property="qcStatus" column="QC_STATUS"/>
	</resultMap>
	
	<select id="selectQnaList" resultMap="QnaResultSet">
		SELECT	*
		FROM	QNA
		WHERE	1=1
		AND		Q_STATUS='Y'
	</select>
	
	<select id="selectQna" parameterType="_int" resultMap="QnaResultSet">
		SELECT	*
		FROM	QNA
		WHERE	1=1
		AND		Q_NO=#{qNo}
		AND		Q_STATUS='Y'
	</select>
	
	<insert id="insertQna" parameterType="Qna">
		INSERT INTO QNA VALUES(
			SEQ_QNO.NEXTVAL
			,#{qCategory}
			,#{qTitle}
			,#{qCon}
			,#{qOriginalFileName}
			,#{qRenameFileName}
			,#{qWriter}
			,#{qWriterNo}
			,'질문중'
			,SYSDATE
			,NULL
			,DEFAULT
		)
	</insert>
	
	<update id="updateQna" parameterType="Qna">
		UPDATE	QNA
		SET		Q_TITLE=#{qTitle}
				,Q_CATEGORY=#{qCategory}
				,Q_CON=#{qCon}
				,Q_ORIGINAL_FILENAME=#{qOriginalFileName}
				,Q_RENAME_FILENAME=#{qRenameFileName}
		WHERE	1=1
		AND		Q_NO=#{qNo}
	</update>
	
	<update id="deleteQna" parameterType="_int">
		UPDATE	QNA
		SET		Q_STATUS='N'
		WHERE	1=1
		AND		Q_NO=#{qNo}
	</update>
	
	<update id="endQna" parameterType="_int">
		UPDATE	QNA
		SET		Q_STATE='답변 완료'
		WHERE	1=1
		AND		Q_NO=#{qNo}
	</update>

</mapper>