<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="evMapper">

	<resultMap type="Event" id="eventResultSet">
		<id property="eNo" column="E_NO"/>
		<result property="eIntro" column="E_INTRO"/>
		<result property="eTitle" column="E_TITLE"/>
		<result property="eCon" column="E_CON"/>
		<result property="eTag" column="E_TAG"/>
		<result property="eOriginalFileName" column="E_ORIGINAL_FILENAME"/>
		<result property="eRenameFileName" column="E_RENAME_FILENAME"/>
		<result property="eWriter" column="E_WRITER"/>
		<result property="eWriterNo" column="E_WRITER_NO"/>
		<result property="eType" column="E_TYPE"/>
		<result property="eDate" column="E_DATE"/>
		<result property="eMonth" column="E_MONTH"/>
		<result property="eDays" column="E_DAYS"/>
		<result property="eStatus" column="E_STATUS"/>
		<result property="eCount" column="E_COUNT"/>
	</resultMap>
	
    <resultMap type="EventReply" id="eventReplyResultSet" >
    	<id property="ecNo" column="EC_NO"/>
    	<result property="ecENo" column="EC_E_NO"/>
    	<result property="ecWriter" column="EC_WRITER"/>
    	<result property="ecWriterNo" column="EC_WRITER_NO"/>
    	<result property="ecDate" column="EC_DATE"/>
    	<result property="ecCon" column="EC_CON"/>
    	<result property="ecStatus" column="EC_STATUS"/>
    	
    	<association property="member" javaType="Member">
    		<result property="mRenamefilename" column="M_RENAME_FILENAME"/>
    	</association>
    	
    </resultMap>
	

	<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT	COUNT(*)
		FROM	EVENT
		WHERE	1=1
		AND		E_STATUS='Y'
	</select>
	
	<select id="getEventList" parameterType="_int" resultMap="eventResultSet">
		SELECT	*
		FROM	EVENT
		WHERE	1=1
		AND		E_STATUS='Y'
		ORDER BY 1 DESC
	</select>
	
	<select id="selectEvent" parameterType="_int" resultMap="eventResultSet">
		SELECT	*
		FROM	EVENT
		WHERE	1=1
		AND		E_NO=#{eNo}
		AND		E_STATUS='Y'
	</select>
	
	<!-- <select id="selectReply" parameterType="_int" resultMap="eventReplyResultSet">
		SELECT	EC.*, M.M_RENAME_FILENAME
		FROM	EVENT_COMMENTS EC
		JOIN	MEMBER M ON (EC.EC_WRITER_NO = M.M_NO)
		WHERE	1=1
		AND		EC_E_NO=#{eNo}
		AND		EC_STATUS='Y'
	</select> -->

	<select id="selectReply" parameterType="_int" resultMap="eventReplyResultSet">
		SELECT	*
		FROM	EVENT_COMMENTS
		WHERE	1=1
		AND		EC_E_NO=#{eNo}
		AND		EC_STATUS='Y'
	</select>
	
	<insert id="insertEvent" parameterType="Event">
		INSERT INTO EVENT VALUES(
			SEQ_ENO.NEXTVAL
			,#{eIntro}
			,#{eTitle}
			,#{eCon}
			,#{eTag}
			,#{eOriginalFileName}
			,#{eRenameFileName}
			,#{eWriter}
			,#{eWriterNo}
			,#{eType}
			,DEFAULT
			,#{eMonth}
			,#{eDays}
			,DEFAULT
			,0
		)
	</insert>
	
	<insert id="insertReply" parameterType="EventReply">
    	INSERT INTO EVENT_COMMENTS VALUES(
    		SEQ_ECNO.NEXTVAL
    		,#{ecENo}
    		,#{ecWriter}
    		,#{ecWriterNo}
    		,SYSDATE
    		,#{ecCon}
    		,DEFAULT
    	)
	</insert>
	
	<update id="updateEvent" parameterType="Event">
		UPDATE	EVENT
		SET		E_TITLE=#{eTitle}
				,E_INTRO=#{eIntro}
				,E_TAG=#{eTag}
				,E_CON=#{eCon}
				,E_ORIGINAL_FILENAME=#{eOriginalFileName}
				,E_RENAME_FILENAME=#{eRenameFileName}
				,E_TYPE=#{eType}
				,E_MONTH=#{eMonth}
				,E_DAYS=#{eDays}
		WHERE	1=1
		AND		E_NO=#{eNo}
	</update>
	
	<update id="deleteEvent" parameterType="_int">
		UPDATE	EVENT
		SET		E_STATUS='N'
		WHERE	1=1
		AND		E_NO=#{eNo}
	</update>
	
	<update id="deleteEr" parameterType="_int">
		UPDATE 	EVENT_COMMENTS
		SET		EC_STATUS='N'
		WHERE	1=1
		AND		EC_NO=#{ecNo}
	</update>
	
	<select id="getSearchListCount" parameterType="String" resultType="_int">
		SELECT	COUNT(*)
		FROM	EVENT
		WHERE	1=1
		AND		E_TITLE like '%' || #{evSearch} || '%'
		OR		E_INTRO like '%' || #{evSearch} || '%'
	</select>
	
	<select id="SearchList" resultMap="eventResultSet" parameterType="String">
		SELECT	*
		FROM	EVENT
		WHERE	1=1
		AND		E_STATUS='Y'
		AND		E_TITLE like '%' || #{evSearch} || '%'
		OR		E_INTRO like '%' || #{evSearch} || '%'
		ORDER BY 1 DESC
	</select>
	
	<select id="TagCount" parameterType="String" resultType="_int">
		SELECT	COUNT(*)
		FROM	EVENT
		WHERE	1=1
		AND		E_STATUS='Y'
		AND		E_TAG like '%' || #{eTag} || '%'
	</select>
	
	<select id="TagList" resultMap="eventResultSet" parameterType="String">
		SELECT	*
		FROM	EVENT
		WHERE	1=1
		AND		E_STATUS='Y'
		AND		E_TAG like '%' || #{eTag} || '%'
	</select>
	
	<select id="selectListAll" resultMap="eventResultSet">
		SELECT	*
		FROM	EVENT
		WHERE	1=1
		AND		E_STATUS='Y'
		ORDER BY 1 DESC
	</select>
	
	<update id="updateCount" parameterType="_int">
		UPDATE	EVENT
		SET		E_COUNT = E_COUNT+1
		WHERE	1=1
		AND		E_NO=#{eNo}
	</update>
	
	
	
	
	
</mapper>